@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menu-shadow;
  background-color: $light-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $light-bg;
      font-weight: 500;
      letter-spacing: 1px;
      @extend%hover-transition;

      &:hover,
      &.active {
        background-color: $primary;
        color: $light-text-color;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}

/* change order of menu and search */
@media (max-width: 1200px) {
  .root {
    :global(.container) > :global(.row) {
      height: 130px;

      .menu {
        order: -1;
      }
    }
  }
}

/* hide menu and show hamburger from 768 px*/
@media (max-width: 768px) {
  .root {
    :global(.container) > :global(.row) {
      height: 100%;
      padding: 5px 0;

      .hamburger {
        display: block;
        z-index: 999;

        .icon {
          font-size: 3rem;
          padding-right: 10px;
        }
      }
    }

    .menu {
      display: none;
      position: absolute;
      width: 100vw;
      height: 80vh;
      background-color: $color-white;
      z-index: 1;
      left: 0;

      &.active {
        display: block;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
