@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menu-shadow;
  background-color: $light-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $light-bg;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: $light-text-color;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}

/* change order of menu and search */
@media (max-width: 1200px) {
  .root {
    :global(.container) > :global(.row) {
      height: 130px;
      .menu {
        order: -1;
      }
    }
  }
}


/* hide hamburger  */
@media only screen and (min-width: 768px) {
  .root {
    .hamburger {
      display: none;
    }
  }
}

/* hide menu and show hamburger from 992 px*/
@media (max-width: 992px) {
  .root {
    :global(.container) > :global(.row) {
      height: 80px;

    .menu ul  {
      display: none;
    }

    .hamburger {
      display: inline-block;

      &:hover {
        .menu ul li {
          display: block;
        }
      }
    }
      .hamburger {
        display: inline-flex;
        text-align: right;

        .icon {
          font-size: 2rem;
          color: $gray-border-color;

          // &:hover {
          //   .menu ul li {
          //     display: block;
          //   }
          // }
        }
      }
    }
  }
}
