@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $light-border-color;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .menu {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;
          @extend%hover-transition;

          a {
            color: $text-color;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $primary;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $light-bg;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;
          @extend%hover-no-shake-transition;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $gray-white-bg;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  .compare_box {
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.6);
    //width: 100%;
    width: 640px;
    box-sizing: border-box;
    height: 65px;
    left: 50%;
    transform: translateX(-50%);
    //display: none;

    &.is-visible {
      display: block;
    }

    .compare_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 10px 30px;

      .compare_list_left {
        display: flex;
        align-items: center;
      }

      p {
        margin: 0;
      }

      .compare_item {
        margin-left: 30px;
        position: relative;
        cursor: pointer;

        &:last-of-type {
          margin-right: 30px;
        }

        &:hover img {
          opacity: 0.5
        }

        &:hover a {
          display: block;
        }

        .mobile_close {
          display: none;
          width: 25px;
          height: 25px;
          position: absolute;
          top: 0;
          left: 7px;

          &:before {
            position: absolute;
            top: 20px;
            right: 5px;
            left: 5px;
            height: 2px;
            content: "";
            background: #000;
            border-radius: 1px;
            transform: rotate(45deg);
          }

          &:after {
            position: absolute;
            top: 20px;
            right: 5px;
            left: 5px;
            height: 2px;
            content: "";
            background: #000;
            border-radius: 1px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }


}
