@import "../../../styles/settings.scss";

.root {
  .single {
    padding: 0 1rem;
    margin-bottom: 3rem;

      .photo {
        img {
          position: relative;
          width: 100%;
          background: {
            repeat: no-repeat;
            size: cover;
            position: center;
          }
        }
      }

      .meta {
        display: flex;
        background-color: $color-white;
        padding: 0.5rem;
        justify-content: space-around;
        font-size: 0.8rem;
        margin: 0 20px;
        transform: translateY(-35px);
      }


    .text {
      padding-bottom: 1rem;
      text-align: justify;
    }

    .readmore {
      text-transform: capitalize;
    }
  }
}

@media (max-width: 400px) {
  .root {
    .single {
      flex-direction: column;

    .meta {
      padding: 5px 15px!important;
      flex-direction: column;
      transform: translateY(-53px)!important;
    }
  }
  }
}
