@import "../../../styles/settings.scss";

.root {
  margin-bottom: 2rem;

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-text-color;

    img {
      height: 125px;
    }
  }
}
